export default {
    defaultTitle:'Leroy Clarke Jr. | Front=end Engineer',
    defaultDescription: 'Self taught Front-end Engineer helping ambitious people and brands create aesthetically pleasing web app experiences.',
  openGraph: {
    type: 'website',
    locale: 'en_IE',
    url: 'https://www.leroyclarkejr.com/',
    site_name: 'LeroyClarkeJr',
  },
};
