@tailwind base;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif font-bold text-black dark:text-white transition-all duration-300;
  }
  h1 {
    @apply text-4xl md:text-6xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
  p,
  li {
    @apply text-base md:text-lg font-body leading-5 text-gray-600 dark:text-gray-400;
  }
  a {
    @apply font-bold dark:text-white;
  }
}
