@import "./_variables";
@import "./_global-tailwind.css";
@import "./_typography";

body {
  background-color: #fff;
  scroll-behavior: smooth;

  &.dark {
    background-color: #000;
  }
}

.header-margin {
  margin-top: 86px !important;
}

// @keyframes scrollBtn {
//   0% {
//     transform: translatey(0);
//   }

//   12% {
//     transform: translatey(-12px);
//   }
//   25% {
//     transform: translatey(0);
//   }

//   50% {
//     transform: translatey(0);
//   }

//   100% {
//     transform: translatey(0);
//   }
// }
@keyframes scrollBtn {
  0% {
    transform: translate(-50%, 0);
  }
  10% {
    transform: translate(-50%, -15px);
  }
  20% {
    transform: translate(-50%, 0);
  }
}

@-webkit-keyframes scrollBtn {
  0% {
    transform: translate(-50%, 0);
  }
  10% {
    transform: translate(-50%, -15px);
  }
  20% {
    transform: translate(-50%, 0);
  }
}

#layout-content {
  max-width: 1440px;
  margin: 0 auto;
}

#home-hero {
  position: relative;
  height: 100vh -webkit-fill-available;

  // @media only screen and (max-device-width: 768px) {
  //   height: -webkit-fill-available;
  // }

  .hero-image-container {
    min-width: 300px;
    max-width: 400px;
    @media (max-width: 420px) {
      min-width: 220px;
      max-width: 250px;
    }
    > div {
      position: unset !important;
    }

    .image {
      object-fit: cover;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  #scroll-btn {
    position: absolute;
    bottom: 24px;
    // right: 24px;
    left: 50%;
    transform: translate(-50%, 0);
    // text-transform: translatex(-50%);
    animation: scrollBtn 1.5s linear infinite;
    -webkit-animation: scrollBtn 1.5s linear infinite;
  }
}

#header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  z-index: 10;
  // border-bottom: 2px solid $black;
  // background-color: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 99999999999;

  .left-icon {
    a {
      text-decoration: none;
      // color: $white;
      //   font-family: $Sahar-SemiBold;
      font-size: 24px;
      img {
        width: 75px;
        height: auto;
      }
    }
  }

  #nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      // background: $black;

      box-shadow: none !important;
      border-left: 2px solid #000;
      height: 100vh;
      width: 300px;
      padding: 2rem;
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      transition: all 0.5s 0.5s;
      z-index: 0;
      // background-color: $black;
      color: $white;

      @media screen and (max-width: $sm) {
        width: 100%;
      }

      .internal-links {
        display: flex;
        flex-flow: row wrap;
        border-bottom: 2px solid $dark-grey;
        a {
          flex: 0 0 1000%;
        }
      }

      .external-links {
        margin: 24px 0 24px 0;
        img {
          width: 50px;
          margin: 0 12px;
          color: $white;
        }
        .content {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          a {
            margin-right: 24px;
          }
        }
      }
      .mailto {
        font-size: 24px;
        color: $primary;
        letter-spacing: inherit;
      }
      a {
        font-size: 28px;
        // font-family: $Sahar-Bold;
        $white-space: nowrap;
        text-decoration: none;
        color: $white;
        margin-bottom: 24px;
        @media screen and (max-width: 768px) {
          font-size: 32px;
        }

        &:hover {
          color: $primary;
        }
      }
      a.active {
        color: $primary;
      }

      &:after {
        content: "";
      }
    }
    .main-nav-menu {
      // background-color: #000000;
      background-image: $svgBg;
    }
    .fake-back {
      background-color: $white !important;
      transition-delay: 0.1s;
    }
    .fake-mid {
      // background-color: $primary;
      transition-delay: 0.3s;
    }

    p {
      font-size: 24px;
      margin-bottom: 6px;
    }

    .nav-button {
      top: 3%;
      right: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      padding: 0;
      z-index: 10;
      transition: all 0.3s linear;

      &:focus {
        outline: none;
      }
      div {
        width: 2rem;
        height: 2px;
        // background: $white;
        transition: all 0.3s linear;
        position: relative;
        transform-origin: 1px;
      }
    }
  }
}
